@font-face {
    font-family: Newsreader;
    src: url(./Fonte/Newsreader-Italic-VariableFont_opsz\,wght.ttf);
    font-family: Inter;
    src: url(./Fonte/Inter-VariableFont_slnt\,wght.ttf);
}
/* Classes Base */
.Centro{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Basico e cores */
*{
    font-family: Inter;
}
body{
    background-color: #171621;
    color: #FFFFFF;
    margin: 0px;
}
.rosa{
    color: #EA6A69;
}
.amarelo{
    color: #FBCB4E;
}
h1{
    text-align: center;
}
/* placeholders e organização*/
header{
    display: flex;
    justify-content: space-between;
}
main{
    margin: 30px;
    width: 100vh;
}
.profl{
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    
}
footer{
    background-color: #292535;
    height: 110px;
}
.Redes{
    display: flex;
    justify-content: space-evenly;
    margin-top: 200px;
}
.Centrado{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

    /*  */
    .btn{
        height: 25px;
        width: 25px;
        background-color: #EA6A69;
    }
    body.darkM{
        background-color: #dadada;
        color: #2C2C2C;
    }
    footer.darkM{
        background-color: #bbbbbb;
        color: #4d4d4d
    } 
    .animated-div{
        height: 22px;
        border: 1px black solid;
        width: 40px;
        background-color:#383838;
        border-radius: 20px;
        display: flex;
        justify-content: baseline;
        transition: all 1s ease;
        
    }
    .animated-div2{
        background-color:  #d8d8d8;
        height: 20px;
        border: 1px black solid;
        width: 20px;
        border-radius: 20px;
        transition: all 1s ease;
    }
    .anima1{
        justify-content: end;
        background-color:  #d8d8d8;
    }
    .anima2{
        background-color:#383838;
    }
    .escuro {
        color: #292535;
    }
    .desap{
        display: none;
    }
    .dropdown2 {
        position: relative;
        width: 119px;
        margin-right: 20px;
        padding-right: 14px;
    }
    .dropdown-menu2 {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        background-color: #292535;
        padding: 15px;
        border-radius: 0 0px 10px 0;
        font-size: x-large;
        z-index: 1000;
        height: 90vh;
        border-right:3px solid #1f1f2e;

    }
    .dropdown2:hover {
/* background-color: #120063; */
background-color: #292535;
border-radius: 10px 10px 0 0;
padding-right: 10px;}
    .dropdown2:hover .dropdown-menu2 {
        display: block;
    }
    .dropdown-menu2 a {
        display: block;
        color: white;
        text-decoration: none;
        margin-bottom:30px ;
        margin-top: 5px;
        
    }
    .dropdown-menu2 a:hover {
        background-color: #171621;
        border-radius: 6px;
    }
    #imgbarle2{
    height: 32px;
    
}

/* Para dispositivos móveis: 320px a 480px */
@media only screen and (min-width: 320px) and (max-width: 480px) {
    /* Estilos para dispositivos móveis */
    #Titulo{
        /* font-size: 16px; */
        font-size: x-large;
    }
/* Img de saudação = #imgsaud */
    .coment{
        width: 300px;
    }
    #h2dest{
        font-size: 22px;
    }
    #texcentro{
        font-size: 16px;
    }
    .listinha{
        font-size: 16px;
    }
    #h3dest{
        font-size: 20px;
    }
    .LOGREDES{
        width: 30px;
        height: 30px;
        margin-top: 15px;
    }
    #pfoo{
        font-size: 13px;
    }
    #carrosel{
        display: flex;
        height: 320px;
        width: 460px;
        border-radius: 40px;
        overflow-x:auto ;
        scrollbar-width: thin;
        scrollbar-color: #171621 #292535;
        }
    .maior{
        height: 260px;
        width: 400px;
    }
    .dropdown {
        position: relative;
        width: 119px;
        margin-right: 20px;
        padding-right: 14px;
    }
    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        background-color: #292535;
        padding: 15px;
        border-radius: 0 0px 10px 0;
        font-size: x-large;
        z-index: 1000;
        height: 90vh;
        border-right: 3px solid #1f1f2e;
    }
    .dropdown:hover {
        background-color: #292535;
        border-radius: 10px 10px 0 0;
        /* padding-right: -10px; */
    }
    .dropdown:hover .dropdown-menu {
        display: block;
    }
    .dropdown-menu a {
        display: block;
        color: white;
        text-decoration: none;
        margin-bottom: 30px;
        margin-top: 5px;
    }
    .dropdown-menu a:hover {
        background-color: #171621;
        border-radius: 6px;
    }
    .dropdown2 {
        position: relative;
        width: 119px;
        margin-right: 20px;
        padding-right: 14px;
    }
    .dropdown-menu2 {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        background-color: #d9d9d9;
        padding: 15px;
        border-radius: 0 0px 10px 0;
        font-size: x-large;
        z-index: 1000;
        height: 90vh;
        border-right: 3px solid #1f1f2e;
    }
    .dropdown2:hover {
        background-color: #d9d9d9;
        border-radius: 10px 10px 0 0;
        /* padding-right: -10px; */
    }
    .dropdown2:hover .dropdown-menu2 {
        display: block;
    }
    .dropdown-menu2 a {
        display: block;
        color: #171621;
        text-decoration: none;
        margin-bottom: 30px;
        margin-top: 5px;
    }
    .dropdown-menu2 a:hover {
        background-color: #bbbbbb;
        border-radius: 6px;
    }
}
/* primeiro colado ok */
  /* Para tablets: 481px a 768px */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    /* Estilos para tablets */
    /* As fonte podem parecer pequenas ou grande em css ,porem as h1 ,h2 e h3 ja tem por padrão um tamanho inblicito ,assim os font-sizes são apenas complementos   */
    #Titulo{

        font-size: x-large;
    }
/* Img de saudação = #imgsaud */
    .coment{
        width: 450px;
    }
    #h2dest{
        font-size: 28px;
    }
    #texcentro{
        font-size: 20px;
    }
    .listinha{
        font-size: 20px;
    }
    #h3dest{
        font-size: 24px;
    }
    .LOGREDES{
        width: 33px;
        height: 33px;
        margin-top: 15px;
    }
    #pfoo{
        font-size: 14px;
    }
    #carrosel{
        display: flex;
        height: 320px;
        width: 460px;
        border-radius: 40px;
        overflow-x:auto ;
        scrollbar-width: thin;
        scrollbar-color: #171621 #292535;
        }
    .maior{
        height: 260px;
        width: 400px;
    }
    .dropdown {
        position: relative;
        width: 119px;
        margin-right: 20px;
        padding-right: 14px;
    }
    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        background-color: #292535;
        padding: 15px;
        border-radius: 0 0px 10px 0;
        font-size: x-large;
        z-index: 1000;
        height: 90vh;
        border-right: 3px solid #1f1f2e;
    }
    .dropdown:hover {
        background-color: #292535;
        border-radius: 10px 10px 0 0;
        /* padding-right: -10px; */
    }
    .dropdown:hover .dropdown-menu {
        display: block;
    }
    .dropdown-menu a {
        display: block;
        color: white;
        text-decoration: none;
        margin-bottom: 30px;
        margin-top: 5px;
    }
    .dropdown-menu a:hover {
        background-color: #171621;
        border-radius: 6px;
    }
    .dropdown2 {
        position: relative;
        width: 119px;
        margin-right: 20px;
        padding-right: 14px;
    }
    .dropdown-menu2 {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        background-color: #d9d9d9;
        padding: 15px;
        border-radius: 0 0px 10px 0;
        font-size: x-large;
        z-index: 1000;
        height: 90vh;
        border-right: 3px solid #1f1f2e;
    }
    .dropdown2:hover {
        background-color: #d9d9d9;
        border-radius: 10px 10px 0 0;
        /* padding-right: -10px; */
    }
    .dropdown2:hover .dropdown-menu2 {
        display: block;
    }
    .dropdown-menu2 a {
        display: block;
        color: #171621;
        text-decoration: none;
        margin-bottom: 30px;
        margin-top: 5px;
    }
    .dropdown-menu2 a:hover {
        background-color: #bbbbbb;
        border-radius: 6px;
    }
}
/* segundo colado ok */
  /* Para laptops: 769px a 1024px */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    /* Estilos para laptops */
    #Titulo{
        font-size: x-large;
    }
/* Img de saudação = #imgsaud */
    .coment{
        width: 600px;
        /* width: 550px; */
    }
    #h2dest{
        /* font-size: 28px; */
        font-size: 32px;
    }
    #texcentro{
        /* font-size: 20px; */
        font-size: 24px;
    }
    .listinha{
     /* font-size: 20px; */
    font-size: 24px;
    }
    #h3dest{
        /* font-size: 24px; */
        font-size: 28px;
    }
    .LOGREDES{
        width: 36px;
        height: 36px;
        margin-top: 15px;
    }
    #pfoo{
        font-size: 15px;
    }
    #carrosel{
        display: flex;
        height: 320px;
        width: 460px;
        border-radius: 40px;
        overflow-x:auto ;
        scrollbar-width: thin;
        scrollbar-color: #171621 #292535;
        }
    .maior{
        height: 260px;
        width: 400px;
    }
    .dropdown {
        position: relative;
        width: 119px;
        margin-right: 20px;
        padding-right: 14px;
    }
    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        background-color: #292535;
        padding: 15px;
        border-radius: 0 0px 10px 0;
        font-size: x-large;
        z-index: 1000;
        height: 90vh;
        border-right: 3px solid #1f1f2e;
    }
    .dropdown:hover {
        background-color: #292535;
        border-radius: 10px 10px 0 0;
        /* padding-right: -10px; */
    }
    .dropdown:hover .dropdown-menu {
        display: block;
    }
    .dropdown-menu a {
        display: block;
        color: white;
        text-decoration: none;
        margin-bottom: 30px;
        margin-top: 5px;
    }
    .dropdown-menu a:hover {
        background-color: #171621;
        border-radius: 6px;
    }

    .dropdown2 {
        position: relative;
        width: 119px;
        margin-right: 20px;
        padding-right: 14px;
    }
    .dropdown-menu2 {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        background-color: #d9d9d9;
        padding: 15px;
        border-radius: 0 0px 10px 0;
        font-size: x-large;
        z-index: 1000;
        height: 90vh;
        border-right: 3px solid #1f1f2e;
    }
    .dropdown2:hover {
        background-color: #d9d9d9;
        border-radius: 10px 10px 0 0;
        /* padding-right: -10px; */
    }
    .dropdown2:hover .dropdown-menu2 {
        display: block;
    }
    .dropdown-menu2 a {
        display: block;
        color: #171621;
        text-decoration: none;
        margin-bottom: 30px;
        margin-top: 5px;
    }
    .dropdown-menu2 a:hover {
        background-color: #bbbbbb;
        border-radius: 6px;
    }
}
/* terceiro colado ok */
  /* Para telas grandes: 1025px a 1200px */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    /* Estilos para telas grandes */
    #Titulo{

        font-size: xx-large;
    }
/* Img de saudação = #imgsaud */
    .coment{
        width: 650px;
    }
    #h2dest{
        font-size: 36px;
    }
    #texcentro{
        font-size: 28px;
    }
    .listinha{
        font-size: 28px;
    }
    #h3dest{
        font-size: 32px;
    }
    .LOGREDES{
        width: 39px;
        height: 39px;
        margin-top: 15px;
    }
    #pfoo{
        font-size: 15px;
    }
    #carrosel{
        display: flex;
        height: 320px;
        width: 460px;
        border-radius: 40px;
        overflow-x:auto ;
        scrollbar-width: thin;
        scrollbar-color: #171621 #292535;
        }
    .maior{
        height: 260px;
        width: 400px;
    }
    .dropdown {
        position: relative;
        width: 119px;
        margin-right: 20px;
        padding-right: 14px;
    }
    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        background-color: #292535;
        padding: 15px;
        border-radius: 0 0px 10px 0;
        font-size: x-large;
        z-index: 1000;
        height: 90vh;
        border-right: 3px solid #1f1f2e;
    }
    .dropdown:hover {
        background-color: #292535;
        border-radius: 10px 10px 0 0;
        /* padding-right: -10px; */
    }
    .dropdown:hover .dropdown-menu {
        display: block;
    }
    .dropdown-menu a {
        display: block;
        color: white;
        text-decoration: none;
        margin-bottom: 30px;
        margin-top: 5px;
    }
    .dropdown-menu a:hover {
        background-color: #171621;
        border-radius: 6px;
    }

    .dropdown2 {
        position: relative;
        width: 119px;
        margin-right: 20px;
        padding-right: 14px;
    }
    .dropdown-menu2 {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        background-color: #d9d9d9;
        padding: 15px;
        border-radius: 0 0px 10px 0;
        font-size: x-large;
        z-index: 1000;
        height: 90vh;
        border-right: 3px solid #1f1f2e;
    }
    .dropdown2:hover {
        background-color: #d9d9d9;
        border-radius: 10px 10px 0 0;
        /* padding-right: -10px; */
    }
    .dropdown2:hover .dropdown-menu2 {
        display: block;
    }
    .dropdown-menu2 a {
        display: block;
        color: #171621;
        text-decoration: none;
        margin-bottom: 30px;
        margin-top: 5px;
    }
    .dropdown-menu2 a:hover {
        background-color: #bbbbbb;
        border-radius: 6px;
    }
}
/* Quarto colado ok */
  /* Para telas muito grandes: 1201px ou mais ATUAL */ 
@media only screen and (min-width: 1201px) {
    /* Estilos para telas muito grandes */
    #Titulo{
        font-size: x-large;
    }
/* Img de saudação = #imgsaud */
    .coment{
        width: 650px;
    }
    #h2dest{
        font-size: 40px;
    }
    #texcentro{
        font-size: 32px;
    }
    .listinha{
        font-size: 32px;
    }
    #h3dest{
        font-size: 36px;
    }
    .LOGREDES{
        width: 42px;
        height: 42px;
        margin-top: 15px;
    }
    #pfoo{
        font-size: 16px;
    }
    #carrosel{
        display: flex;
        height: 320px;
        width: 460px;
        border-radius: 40px;
        overflow-x:auto ;
        scrollbar-width: thin;
        scrollbar-color: #171621 #292535;
        }
    .maior{
        height: 260px;
        width: 400px;
    }
    .dropdown {
        position: relative;
        width: 119px;
        margin-right: 20px;
        padding-right: 14px;
    }
    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        background-color: #292535;
        padding: 15px;
        border-radius: 0 0px 10px 0;
        font-size: x-large;
        z-index: 1000;
        height: 90vh;
        border-right: 3px solid #1f1f2e;
    }
    .dropdown:hover {
        background-color: #292535;
        border-radius: 10px 10px 0 0;
        /* padding-right: -10px; */
    }
    .dropdown:hover .dropdown-menu {
        display: block;
    }
    .dropdown-menu a {
        display: block;
        color: white;
        text-decoration: none;
        margin-bottom: 30px;
        margin-top: 5px;
    }
    .dropdown-menu a:hover {
        background-color: #171621;
        border-radius: 6px;
    }
    .dropdown2 {
        position: relative;
        width: 119px;
        margin-right: 20px;
        padding-right: 14px;
    }
    .dropdown-menu2 {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        background-color: #d9d9d9;
        padding: 15px;
        border-radius: 0 0px 10px 0;
        font-size: x-large;
        z-index: 1000;
        height: 90vh;
        border-right: 3px solid #1f1f2e;
    }
    .dropdown2:hover {
        background-color: #d9d9d9;
        border-radius: 10px 10px 0 0;
        /* padding-right: -10px; */
    }
    .dropdown2:hover .dropdown-menu2 {
        display: block;
    }
    .dropdown-menu2 a {
        display: block;
        color: #171621;
        text-decoration: none;
        margin-bottom: 30px;
        margin-top: 5px;
    }
    .dropdown-menu2 a:hover {
        background-color: #bbbbbb;
        border-radius: 6px;
    }

}
