@font-face {
    font-family: Newsreader;
    src: url(../../Fonte/Newsreader-VariableFont_opsz\,wght.ttf);
    font-family: Inter;
    src: url(../../Fonte/Inter-VariableFont_slnt\,wght.ttf);
}
#bu2{
    margin-top: 5px;
    border: 2px solid rgb(216, 216, 216);
    /* background: transparent; */
    border-radius: 10px;
    color: black;
    font-size: medium;
    padding: 8px;
}
.bu2{
    background-color: #292535;
    color: white;
}
@media(max-width:400px){
    textarea{
    /* width: 450px; */
    width: 411px;
    height: 200px;
    border-radius: 0 0 12px 12px;
    max-height: 200vh;
    max-width: 411px;
    min-width:411px ;
    
}
input{
    /* width: 450px;
     */
     /* padding: 10px 0px 10px 0px; */
     width: 99%;
     border-radius: 12px 12px 0px 0px;
     border: none;
     font-size: x-large;
     padding-inline-start: 4px;
}
}

textarea{
    /* width: 450px; */
    width: 99.5%;
    height: 200px;
    border-radius: 0 0 12px 12px;
    max-height: 200vh;
    max-width: 95vw;
    min-width:99.5% ;
    
}
input{
    /* width: 450px;
     */
     /* padding: 10px 0px 10px 0px; */
     width: 99%;
     border-radius: 12px 12px 0px 0px;
     border: none;
     font-size: x-large;
     padding-inline-start: 4px;
}
*{
            margin: 0;
            padding: 0;
            font-family:  sans-serif;
}
        
footer{
    background-color: #292535;
    height: 110px;
    color: #FFF;
}
.Redes{
    display: flex;
    justify-content: space-evenly;
    margin-top: 200px;
}
.Centrado{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
        body{
        background-color: #171621;
        height: 100vh; 

        }
        header {
            display: flex;
            /* align-items: center; */
            justify-content: start;
            /* padding: 20px; */
        }
        
        .tH{

     font-size: 45px;
    font-weight: 500;
    color: #FFF;
    margin-top: 18px;   
     font-family: 'Inter', sans-serif;
}

#imgbarle2{
    height: 32px;
    
}

        .dropdown {
            position: relative;
            width: 119px;
            margin-right: 20px;
            padding-right: 14px;
        }
        .dropdown-menu {
            position: absolute;
            top: 100%;
            left: 0;
            display: none;
            background-color: #292535;
            padding: 15px;
            border-radius: 0 0px 10px 0;
            font-size: x-large;
            z-index: 1000;
            height: 90vh;
            border-right:3px solid #1f1f2e;

        }
        .dropdown:hover {
    /* background-color: #120063; */
    background-color: #292535;
    border-radius: 10px 10px 0 0;
    padding-right: 10px;}
        .dropdown:hover .dropdown-menu {
            display: block;
        }
        .dropdown-menu a {
            display: block;
            color: white;
            text-decoration: none;
            margin-bottom:30px ;
            margin-top: 5px;
            
        }
        .dropdown-menu a:hover {
            background-color: #171621;
            border-radius: 6px;
        }
        .dropdown2 {
            position: relative;
            width: 119px;
            margin-right: 20px;
            padding-right: 14px;
        }
        .dropdown-menu2 {
            position: absolute;
            top: 100%;
            left: 0;
            display: none;
            background-color: #292535;
            padding: 15px;
            border-radius: 0 0px 10px 0;
            font-size: x-large;
            z-index: 1000;
            height: 90vh;
            border-right:3px solid #1f1f2e;

        }
        .dropdown2:hover {
    /* background-color: #120063; */
    background-color: #292535;
    border-radius: 10px 10px 0 0;
    padding-right: 10px;}
        .dropdown2:hover .dropdown-menu2 {
            display: block;
        }
        .dropdown-menu2 a {
            display: block;
            color: white;
            text-decoration: none;
            margin-bottom:30px ;
            margin-top: 5px;
            
        }
        .dropdown-menu2 a:hover {
            background-color: #171621;
            border-radius: 6px;
        }
        .caixa1{ 
            display: flex;
            /* height: 350px; */
            width: 100%;
            align-items: center;
            justify-content: center;
            color: #FFF;
            min-height:auto ;

        }
        .caixa2{
/* width: 100%; */
text-align: center;
        }
        .a44{
            height: 80vh;
            margin-top: 10px;
            
        }
        
        .a44 ul{
            display: flex;
            text-align: center;}
        .a44 li{
            list-style: none;
            margin: 10px;
            background-color: #FFF;
            /* text-align: center; */
            /* color: #FFF; */
            /* height: 100px; */
            width: 370px;
        }
        ul span{
            text-align: center;
            font-size: xx-large;
            width: 370px;
        }
        ul p{
            font-size: x-large;
            width: 370px;
        }

  .btn{
            height: 25px;
            width: 25px;
            background-color: #EA6A69;
        }
        body.darkM{
            background-color: #dadada;
            color: #2C2C2C;
        }
        footer.darkM{
            background-color: #bbbbbb;
            color: #4d4d4d
        } 

        .animated-div{
            height: 22px;
            border: 1px black solid;
            width: 40px;
            background-color:#383838;
            border-radius: 20px;
            display: flex;
            justify-content: baseline;
            transition: all 1s ease;
            cursor: pointer;
        }
        .animated-div2{
            background-color:  #d8d8d8;
            height: 20px;
            border: 1px black solid;
            width: 20px;
            border-radius: 20px;
            transition: all 1s ease;
        }
        .anima1{
            justify-content: end;
            background-color:  #d8d8d8;
        }
        .anima2{
            background-color:#383838;
        }
        
        .escuro {
            color: #292535;
        }
        .desap{
            display: none;
        }
        
/*  */
/* responsividade */
/* Para dispositivos móveis: 320px a 480px */
@media only screen and (min-width: 320px) and (max-width: 480px) {
    /* Estilos para dispositivos móveis */

    .tH{
        font-size: 30px ;
    }
    h2{
        font-size: 22px;
    }
    .LOGREDES{
        width: 33px;
        height: 33px;
        margin-top: 15px;
    }
    #pfoo{
        font-size: 14px;
    }
    
    .maior{
        height: 260px;
        width: 400px;
    }
    .dropdown {
        position: relative;
        width: 119px;
        margin-right: 20px;
        padding-right: 14px;
    }
    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        background-color: #292535;
        padding: 15px;
        border-radius: 0 0px 10px 0;
        font-size: x-large;
        z-index: 1000;
        height: 90vh;
        border-right: 3px solid #1f1f2e;
    }
    .dropdown:hover {
        background-color: #292535;
        border-radius: 10px 10px 0 0;
        /* padding-right: -10px; */
    }
    .dropdown:hover .dropdown-menu {
        display: block;
    }
    .dropdown-menu a {
        display: block;
        color: white;
        text-decoration: none;
        margin-bottom: 30px;
        margin-top: 5px;
    }
    .dropdown-menu a:hover {
        background-color: #171621;
        border-radius: 6px;
    }
    .dropdown2 {
        position: relative;
        width: 119px;
        margin-right: 20px;
        padding-right: 14px;
    }
    .dropdown-menu2 {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        background-color: #d9d9d9;
        padding: 15px;
        border-radius: 0 0px 10px 0;
        font-size: x-large;
        z-index: 1000;
        height: 90vh;
        border-right: 3px solid #1f1f2e;
    }
    .dropdown2:hover {
        background-color: #d9d9d9;
        border-radius: 10px 10px 0 0;
        /* padding-right: -10px; */
    }
    .dropdown2:hover .dropdown-menu2 {
        display: block;
    }
    .dropdown-menu2 a {
        display: block;
        color: #171621;
        text-decoration: none;
        margin-bottom: 30px;
        margin-top: 5px;
    }
    .dropdown-menu2 a:hover {
        background-color: #bbbbbb;
        border-radius: 6px;
    }
}

/* primeiro copiado ok */
  /* Para tablets: 481px a 768px */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    /* Estilos para tablets */
    /* As fonte podem parecer pequenas ou grande em css ,porem as h1 ,h2 e h3 ja tem por padrão um tamanho inblicito ,assim os font-sizes são a*/
    
    .tH{
        font-size:35px ;
    }
    h2{
        font-size: 26px;
    }
    .LOGREDES{
        width: 36px;
        height: 36px;
        margin-top: 15px;
    }
    #pfoo{
        font-size: 14px;
    }
    
    .maior{
        height: 260px;
        width: 400px;
    }
    .dropdown {
        position: relative;
        width: 119px;
        margin-right: 20px;
        padding-right: 14px;
    }
    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        background-color: #292535;
        padding: 15px;
        border-radius: 0 0px 10px 0;
        font-size: x-large;
        z-index: 1000;
        height: 90vh;
        border-right: 3px solid #1f1f2e;
    }
    .dropdown:hover {
        background-color: #292535;
        border-radius: 10px 10px 0 0;
        /* padding-right: -10px; */
    }
    .dropdown:hover .dropdown-menu {
        display: block;
    }
    .dropdown-menu a {
        display: block;
        color: white;
        text-decoration: none;
        margin-bottom: 30px;
        margin-top: 5px;
    }
    .dropdown-menu a:hover {
        background-color: #171621;
        border-radius: 6px;
    }
    .dropdown2 {
        position: relative;
        width: 119px;
        margin-right: 20px;
        padding-right: 14px;
    }
    .dropdown-menu2 {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        background-color: #d9d9d9;
        padding: 15px;
        border-radius: 0 0px 10px 0;
        font-size: x-large;
        z-index: 1000;
        height: 90vh;
        border-right: 3px solid #1f1f2e;
    }
    .dropdown2:hover {
        background-color: #d9d9d9;
        border-radius: 10px 10px 0 0;
        /* padding-right: -10px; */
    }
    .dropdown2:hover .dropdown-menu2 {
        display: block;
    }
    .dropdown-menu2 a {
        display: block;
        color: #171621;
        text-decoration: none;
        margin-bottom: 30px;
        margin-top: 5px;
    }
    .dropdown-menu2 a:hover {
        background-color: #bbbbbb;
        border-radius: 6px;
    }
}
/* segundo copiado ok */
  /* Para laptops: 769px a 1024px */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    /* Estilos para laptops */
    

    .tH{
        font-size: 40px;
    }
    h2{
        font-size:28px ;
    }
    .LOGREDES{
        width: 39px;
        height: 39px;
        margin-top: 15px;
    }
    #pfoo{
        font-size: 15px;
    }
    
    .maior{
        height: 260px;
        width: 400px;
    }
    .dropdown {
        position: relative;
        width: 119px;
        margin-right: 20px;
        padding-right: 14px;
    }
    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        background-color: #292535;
        padding: 15px;
        border-radius: 0 0px 10px 0;
        font-size: x-large;
        z-index: 1000;
        height: 90vh;
        border-right: 3px solid #1f1f2e;
    }
    .dropdown:hover {
        background-color: #292535;
        border-radius: 10px 10px 0 0;
        /* padding-right: -10px; */
    }
    .dropdown:hover .dropdown-menu {
        display: block;
    }
    .dropdown-menu a {
        display: block;
        color: white;
        text-decoration: none;
        margin-bottom: 30px;
        margin-top: 5px;
    }
    .dropdown-menu a:hover {
        background-color: #171621;
        border-radius: 6px;
    }
    .dropdown2 {
        position: relative;
        width: 119px;
        margin-right: 20px;
        padding-right: 14px;
    }
    .dropdown-menu2 {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        background-color: #d9d9d9;
        padding: 15px;
        border-radius: 0 0px 10px 0;
        font-size: x-large;
        z-index: 1000;
        height: 90vh;
        border-right: 3px solid #1f1f2e;
    }
    .dropdown2:hover {
        background-color: #d9d9d9;
        border-radius: 10px 10px 0 0;
        /* padding-right: -10px; */
    }
    .dropdown2:hover .dropdown-menu2 {
        display: block;
    }
    .dropdown-menu2 a {
        display: block;
        color: #171621;
        text-decoration: none;
        margin-bottom: 30px;
        margin-top: 5px;
    }
    .dropdown-menu2 a:hover {
        background-color: #bbbbbb;
        border-radius: 6px;
    }


}
/* terceiro copiado */
  /* Para telas grandes: 1025px a 1200px */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    /* Estilos*/
    
    .tH{
        font-size:45px ;
    }
    h2{
        font-size: 30px;
    }
    .LOGREDES{
        width: 42px;
        height: 42px;
        margin-top: 15px;
    }
    #pfoo{
        font-size: 15px;
    }
    
    .maior{
        height: 260px;
        width: 400px;
    }
    .dropdown {
        position: relative;
        width: 119px;
        margin-right: 20px;
        padding-right: 14px;
    }
    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        background-color: #292535;
        padding: 15px;
        border-radius: 0 0px 10px 0;
        font-size: x-large;
        z-index: 1000;
        height: 90vh;
        border-right: 3px solid #1f1f2e;
    }
    .dropdown:hover {
        background-color: #292535;
        border-radius: 10px 10px 0 0;
        /* padding-right: -10px; */
    }
    .dropdown:hover .dropdown-menu {
        display: block;
    }
    .dropdown-menu a {
        display: block;
        color: white;
        text-decoration: none;
        margin-bottom: 30px;
        margin-top: 5px;
    }
    .dropdown-menu a:hover {
        background-color: #171621;
        border-radius: 6px;
    }
    .dropdown2 {
        position: relative;
        width: 119px;
        margin-right: 20px;
        padding-right: 14px;
    }
    .dropdown-menu2 {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        background-color: #d9d9d9;
        padding: 15px;
        border-radius: 0 0px 10px 0;
        font-size: x-large;
        z-index: 1000;
        height: 90vh;
        border-right: 3px solid #1f1f2e;
    }
    .dropdown2:hover {
        background-color: #d9d9d9;
        border-radius: 10px 10px 0 0;
        /* padding-right: -10px; */
    }
    .dropdown2:hover .dropdown-menu2 {
        display: block;
    }
    .dropdown-menu2 a {
        display: block;
        color: #171621;
        text-decoration: none;
        margin-bottom: 30px;
        margin-top: 5px;
    }
    .dropdown-menu2 a:hover {
        background-color: #bbbbbb;
        border-radius: 6px;
    }


}
/* quarto copiado ok */
  /* Para telas muito grandes: 1201px ou mais ATUAL */ 
@media only screen and (min-width: 1201px) {
    /* Estilos para*/
    
    .tH{
        font-size: 50px ;
    }
    h2{
        font-size:35px ;
    }
    .LOGREDES{
        width: 45px;
        height: 45px;
        margin-top: 15px;
    }
    #pfoo{
        font-size: 16px;
    }
    
    .maior{
        height: 260px;
        width: 400px;
    }
    .dropdown {
        position: relative;
        width: 119px;
        margin-right: 20px;
        padding-right: 14px;
    }
    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        background-color: #292535;
        padding: 15px;
        border-radius: 0 0px 10px 0;
        font-size: x-large;
        z-index: 1000;
        height: 90vh;
        border-right: 3px solid #1f1f2e;
    }
    .dropdown:hover {
        background-color: #292535;
        border-radius: 10px 10px 0 0;
        /* padding-right: -10px; */
    }
    .dropdown:hover .dropdown-menu {
        display: block;
    }
    .dropdown-menu a {
        display: block;
        color: white;
        text-decoration: none;
        margin-bottom: 30px;
        margin-top: 5px;
    }
    .dropdown-menu a:hover {
        background-color: #171621;
        border-radius: 6px;
    }
    .dropdown2 {
        position: relative;
        width: 119px;
        margin-right: 20px;
        padding-right: 14px;
    }
    .dropdown-menu2 {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        background-color: #d9d9d9;
        padding: 15px;
        border-radius: 0 0px 10px 0;
        font-size: x-large;
        z-index: 1000;
        height: 90vh;
        border-right: 3px solid #1f1f2e;
    }
    .dropdown2:hover {
        background-color: #d9d9d9;
        border-radius: 10px 10px 0 0;
        /* padding-right: -10px; */
    }
    .dropdown2:hover .dropdown-menu2 {
        display: block;
    }
    .dropdown-menu2 a {
        display: block;
        color: #171621;
        text-decoration: none;
        margin-bottom: 30px;
        margin-top: 5px;
    }
    .dropdown-menu2 a:hover {
        background-color: #bbbbbb;
        border-radius: 6px;
    }

}